/* tr:nth-child(odd) {
    background-color: white;
    color: black;
}
tr:nth-child(even) {
    background-color: rgba(73, 66, 66, 0.685);
    color: white;
} */

input, button {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 1px;
    border: 1px solid rgb(109, 109, 109);
}
button a {
    text-decoration: none;
    color: black;
}

.blk {
    display: flex;
    justify-content: space-between;

}
.ctn {
    width: 500px;
}