/* tr:nth-child(odd) {
    background-color: white;
    color: black;
}
tr:nth-child(even) {
    background-color: rgba(73, 66, 66, 0.685);
    color: white;
} */

.mt {
    margin-top: 10px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-bottom: 2px solid ;
}
